@use "sass:math";

@mixin checkbox-appearance($size, $background-color, $border-color, $border-color-checked) {
   input {
	  position: relative;
	  top: 3px;
	  height: $size;
	  width: $size;
	  appearance: none;
	  border: 1px solid $border-color;
	  border-radius: math.div($size, 4);
	  outline: none;
	  transition-duration: 0.3s;
	  transition-property: all;
	  background-color: $background-color;
	  cursor: pointer;

	  &:checked {
		 border: 1px solid $border-color-checked;
		 background-color: $border-color;                                                         
	  }
	  &:active {
		 border: 2px solid $border-color;
	  }
   }                
   label {
	  display: inline;
   }
   input:checked + label::before {   
	  content: '\2713';              
	  text-align: center;       
	  color: $border-color-checked;
	  position: relative;
	  right: 1.5rem;
	  bottom: 0.2rem;
   }
}
