@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body #survey-form-controls, body #survey-form-heading {
  left: 50%;
  transform: translateX(-50%);
}

body #survey-form-controls select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}

body {
  background-color: rgba(102, 51, 153, 0.9);
}
body #survey-form {
  width: 100%;
  color: white;
  padding-top: 3.5rem;
}
body #survey-form-heading {
  position: relative;
  text-align: center;
}
body #survey-form-heading-title {
  font-size: 2.25rem;
  margin-bottom: 1.2rem;
}
body #survey-form-heading-subtitle {
  font-size: 1.25rem;
  font-style: italic;
}
body #survey-form-controls {
  position: absolute;
  width: 50%;
  margin-top: 2rem;
  padding: 1.75rem;
}
body #survey-form-controls label {
  display: block;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}
body #survey-form-controls #radio p {
  font-size: 1.25rem;
}
body #survey-form-controls #radio label {
  display: inline;
  font-size: 1.15rem;
}
body #survey-form-controls #radio input {
  appearance: none;
  display: inline-block;
  width: 15px;
  height: 15px;
  padding: 3px;
  background-clip: content-box;
  border: 2px solid #060c3b;
  border-radius: 50%;
  margin-right: 0;
}
body #survey-form-controls #radio input:checked {
  background-color: blue;
}
body #survey-form-controls #radio input:hover {
  box-shadow: 0 0 5px 0px blue inset;
}
body #survey-form-controls #radio input:focus {
  outline: 1px solid green;
}
body #survey-form-controls #checkbox p {
  font-size: 1.25rem;
}
body #survey-form-controls #checkbox .checkbox-control input {
  height: 20px;
  width: 20px;
  appearance: none;
  border: 1px solid #34495E;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  transition-property: all;
  background-color: teal;
  cursor: pointer;
}
body #survey-form-controls #checkbox .checkbox-control input:checked {
  border: 1px solid #41B883;
  background-color: #34495E;
}
body #survey-form-controls #checkbox .checkbox-control input:active {
  border: 2px solid #34495E;
}
body #survey-form-controls #checkbox .checkbox-control label {
  display: inline;
}
body #survey-form-controls #checkbox .checkbox-control input:checked + label::before {
  content: "✓";
  text-align: center;
  color: #41B883;
  position: relative;
  right: 1.5rem;
  bottom: 0.2rem;
}
body #survey-form-controls #textarea-control textarea {
  resize: none;
}
body #survey-form-controls #button {
  background-color: green;
  cursor: pointer;
}
body #survey-form-controls input {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}
body #survey-form-controls .select {
  width: 100%;
  border: 1px solid #393939;
  border-radius: 5px;
  padding: 0.35em 0.75em;
  font-size: 1.15rem;
  cursor: pointer;
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
body #survey-form-controls .select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}
body #survey-form-controls .select::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: #393939;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
body #survey-form-controls select, body #survey-form-controls .select::after {
  grid-area: select;
}